{% extends "base.html" %}

{% block title %} Login {% endblock %}
{% block head %}
  <style>
    body {
      background-color: #f0f0f0;
    }
  </style>
{% endblock %}

{% block messages %}
{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center">
  <div class="shadow p-4 mb-5 bg-body rounded align-middle">

      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      {% endif %} 

    <h2 class="text-center"> Login </h2>

    <form method="post">
      {% csrf_token %}
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"> Username: </label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"> 👤 </div>
            </div>
            <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Enter Username">
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"> Password: </label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"> 🔒 </div>
            </div>
            <input type="password" class="form-control" name="password" placeholder="Enter Password">
          </div>
          
        </div>
        <div class="col text-center">
          <button type="submit" class="btn btn-primary"> Submit </button>
        </div>
      </form>
    </form>

    <div class="col text-center mt-1">
      Don't have an account?
      <a href="{% url 'members:register' %}">  Sign up </a>
    </div>

  </div>
</div>
{% endblock %}