{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}

<h2> Welcome back, {{ user.username }}</h2>
<br>
<h4> Recently Accessed </h4>
<div class="row row-cols-1 row-cols-md-4 g-5">
{% for story in recent_list %}
    <div class="col">
        <div class="card h-100" style="width: 18rem;">
            {% if story.cover %}
                <img src="{{ story.cover.url }}" width="100%" height="180">
            {% else %}
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text></svg>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ story.title }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ story.author }}</h6>
                <p class="card-text">{{ story.description }}</p>
                <a href="{% url 'story-page' story.id %}" class="btn btn-primary"> View </a>
            </div>
        </div>
    </div>
{% endfor %}
</div>
<br><br>
<h4> My Stories </h4>
{% include "item_list.html" with item_list=story_list item_page='story-page'%}

{% if story_list_length > 8 %}
    <br>
    <div class="text-center">
        <a href="{% url 'story-list-all' %}" class="btn btn-primary" > See All </a>
    </div>
{% endif %}

{% endblock %}