{% extends "base.html" %}
{% block content %}

<div class="card mb-3">
  <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text></svg>
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ story.title }}</h5>
        <p class="card-text">{{ story.author }}</p> 
      </div>
    </div>
    <div class="col-md-4 p-2 text-end">
      <a href="{% url 'update-story' story.id %}" class="btn btn-primary"> Edit </a>
    </div>
  </div>
</div>

<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" href="#">Notes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Characters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Map</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Notes</h5>
      <p class="card-text">{{ story.description }}</p>
    </div>
  </div>

{% endblock %}